body {
	background-color: #DAE8C3;
	font-family: sans-serif;
	font-size: 11pt;
}

h1 {
	font-size: 16pt;
	text-align: center;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

a {
	color: #3c619e;
	text-decoration: none;
}

a:hover {
	color: #3c619e;
	text-decoration: underline;
}

a:active {
	color: #3c619e;
	text-decoration: underline;
}

img {
	border: none;
}

input.button {
	border: 1px solid #9EC361;
	background-color: #FFFFFF;
}

textarea.edit {
	border: 1px solid #9EC361;
	background-color: #FFFFFF;
	vertical-align: middle;
	padding: 3px;
	width: 100%;
	height: 100px;
}

input.edit {
	border: 1px solid #9EC361;
	background-color: #FFFFFF;
	vertical-align: middle;
	padding: 3px;
}

div.applet {
	text-align: center;
}

div.pagebody {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	border-top: 1px solid #9EC361;
	border-left: 1px solid #9EC361;
	border-right: 1px solid #9EC361;
	border-bottom: 1px solid #9EC361;
}

div.whitebox {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

div.greenbox {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f1f6e8;
}

div.head {
	width: auto;
}

div.floatRight {
	float: right;
}

div.tlc {
	float: left;
	position: relative;
	left: -1px;
	top: -1px;
	width: 10px;
	height: 10px;
	background-color: white;
	background: url(topedgeleft_green.gif) no-repeat;
}

div.trc {
	float: right;
	position: relative;
	right: -1px;
	top: -1px;
	width: 10px;
	height: 10px;
	background-color: white;
	background: url(topedgeright_green.gif) no-repeat;
}

div.blc {
	float: left;
	position: relative;
	left: -1px;
	bottom: 9px;
	width: 10px;
	height: 10px;
	background-color: white;
	background: url(edgeleft_green.gif) no-repeat;
}

div.brc {
	float: right;
	position: relative;
	right: -1px;
	bottom: 9px;
	width: 10px;
	height: 10px;
	background-color: white;
	background: url(edgeright_green.gif) no-repeat;
}