<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/UML2Copy.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="UML2"/>
<mapEntry key="ACCESSORS" value="UML2"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="UML2" value="/uml2cs-transformations/lib/UML2.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="ACCESSORS" value="MODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="UML2" value="METAMODELOUTPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="supportUML2Stereotypes" value="false"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="true"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="ACCESSORS" value="/uml2cs-transformations/profiles/Accessors.profile.uml"/>
<mapEntry key="IN" value="/uml2cs-instantmessenger-model/models/InstantMessengerModel.uml"/>
<mapEntry key="UML2" value="/uml2cs-transformations/metamodels/UML2Profiles.ecore"/>
<mapEntry key="OUT" value="/uml2cs-instantmessenger-default/build/im-profiles.uml"/>
</mapAttribute>
<stringAttribute key="Project Name" value=""/>
<listAttribute key="Superimpose">
<listEntry value="/uml2cs-transformations/UML2Profiles.asm"/>
<listEntry value="/uml2cs-transformations/UML2ProfileCopy.asm"/>
</listAttribute>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="saveTraceModel" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
