<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/UML2Copy.atl"/>
<stringAttribute key="ATL VM" value="Regular VM"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="ACCESSORS" value="UML2"/>
<mapEntry key="IN" value="UML2"/>
<mapEntry key="UML2TYPES" value="UML2"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/uml2cs-transformations/lib/Java1.asm"/>
<mapEntry key="Mappings" value="/uml2cs-transformations/lib/JavaMappings.asm"/>
<mapEntry key="Strings" value="/uml2cs-transformations/lib/Strings.asm"/>
<mapEntry key="UML2" value="/uml2cs-transformations/lib/UML2.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="ACCESSORS" value="MODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML2" value="METAMODELOUTPUT"/>
<mapEntry key="UML2TYPES" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="true"/>
<mapEntry key="continueAfterError" value="false"/>
<mapEntry key="disableAttributeHelperCache" value="false"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="profile" value="false"/>
<mapEntry key="showSummary" value="false"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="ACCESSORS"/>
<listEntry value="IN"/>
<listEntry value="UML2TYPES"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="ACCESSORS" value="/uml2cs-transformations/profiles/Accessors.profile.uml"/>
<mapEntry key="IN" value="/uml2cs-instantmessenger-default/build/im-profiles.uml"/>
<mapEntry key="OUT" value="/uml2cs-instantmessenger-default/build/im-accessors.uml"/>
<mapEntry key="UML2" value="/uml2cs-transformations/metamodels/UML2Profiles.ecore"/>
<mapEntry key="UML2TYPES" value="/uml2cs-transformations/models/PrimitiveTypes.uml"/>
</mapAttribute>
<stringAttribute key="Port" value="6060"/>
<stringAttribute key="Project Name" value=""/>
<listAttribute key="Superimpose">
<listEntry value="/uml2cs-transformations/UML2Accessors.asm"/>
<listEntry value="/uml2cs-transformations/UML2ProfileCopy.asm"/>
</listAttribute>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="saveTraceModel" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
