<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/EModelCopyGenerator.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<booleanAttribute key="ContinueAfterError" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="ECORE"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="Config" value="/uml2cs-transformations/lib/Config.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="ECORE" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="ECORE" value="METAMODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output"/>
<mapAttribute key="Path">
<mapEntry key="IN" value="uri:http://www.eclipse.org/uml2/2.1.0/UML"/>
<mapEntry key="ECORE" value="#EMF"/>
</mapAttribute>
<stringAttribute key="Project Name" value="uml2cs-transformations"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
