<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="OUT" value=""/>
<mapEntry key="UML2" value="EMF"/>
<mapEntry key="ACCESSORS" value=""/>
<mapEntry key="UML2TYPES" value=""/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/UML2Accessors.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/uml2cs-transformations/lib/Java1.asm"/>
<mapEntry key="UML2" value="/uml2cs-transformations/lib/UML2.asm"/>
<mapEntry key="Mappings" value="/uml2cs-transformations/lib/JavaMappings.asm"/>
<mapEntry key="Strings" value="/uml2cs-transformations/lib/Strings.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML2" value="METAMODELINPUT"/>
<mapEntry key="ACCESSORS" value="MODELINPUT"/>
<mapEntry key="UML2TYPES" value="MODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/uml2cs-instantmessenger-model/outmodels/test/im-accessors.uml2"/>
<mapEntry key="UML2" value="uri:http://www.eclipse.org/uml2/1.0.0/UML"/>
<mapEntry key="ACCESSORS" value="/uml2cs-transformations/profiles/Accessors.profile.uml2"/>
<mapEntry key="UML2TYPES" value="/uml2cs-transformations/models/PrimitiveTypes.uml2"/>
<mapEntry key="IN" value="/uml2cs-instantmessenger-model/outmodels/test/im-copy.uml2"/>
</mapAttribute>
<stringAttribute key="Project Name" value="uml2cs-transformations"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="ACCESSORS" value="UML2"/>
<mapEntry key="UML2TYPES" value="UML2"/>
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
</launchConfiguration>
