<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="EMF"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="UML2" value="/uml2cs-transformations/lib/UML2.asm"/>
<mapEntry key="Mappings" value="/uml2cs-transformations/lib/JavaMappings.asm"/>
<mapEntry key="Strings" value="/uml2cs-transformations/lib/Strings.asm"/>
</mapAttribute>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="Mode Debug" value="false"/>
<stringAttribute key="Project Name" value="uml2cs-transformations"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="IMPLTYPES" value="MODELINPUT"/>
<mapEntry key="UML2" value="METAMODELOUTPUT"/>
<mapEntry key="UML2TYPES" value="MODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<booleanAttribute key="ContinueAfterError" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<mapAttribute key="Input">
<mapEntry key="IMPLTYPES" value="UML2"/>
<mapEntry key="UML2TYPES" value="UML2"/>
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/UML2Copy.atl"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/uml2cs-instantmessenger-model/outmodels/test/im-observer.uml"/>
<mapEntry key="IMPLTYPES" value="/uml2cs-transformations/models/JavaTypes.uml"/>
<mapEntry key="UML2" value="/uml2cs-transformations/metamodels/UML2Profiles.ecore"/>
<mapEntry key="UML2TYPES" value="/uml2cs-transformations/models/PrimitiveTypes.uml"/>
<mapEntry key="IN" value="/uml2cs-instantmessenger-model/outmodels/test/im-accessors.uml"/>
</mapAttribute>
<booleanAttribute key="step" value="false"/>
<listAttribute key="Superimpose">
<listEntry value="/uml2cs-transformations/UML2JavaObserver.asm"/>
<listEntry value="/uml2cs-transformations/UML2ProfileCopy.asm"/>
</listAttribute>
</launchConfiguration>
