<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="EMF"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="UML2" value=""/>
<mapEntry key="Mappings" value=""/>
<mapEntry key="Strings" value=""/>
</mapAttribute>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML2" value="METAMODELOUTPUT"/>
<mapEntry key="ACCESSORS" value="MODELINPUT"/>
<mapEntry key="UML2TYPES" value="MODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<stringAttribute key="Project Name" value="uml2cs-transformations"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<booleanAttribute key="ContinueAfterError" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<mapAttribute key="Input">
<mapEntry key="ACCESSORS" value="UML2"/>
<mapEntry key="UML2TYPES" value="UML2"/>
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<stringAttribute key="ATL File Name" value="/uml2cs-transformations/UML2Copy.atl"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<mapAttribute key="Path">
<mapEntry key="OUT" value=""/>
<mapEntry key="UML2" value=""/>
<mapEntry key="ACCESSORS" value=""/>
<mapEntry key="UML2TYPES" value=""/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<booleanAttribute key="step" value="false"/>
<listAttribute key="Superimpose">
<listEntry value="/uml2cs-transformations/UML2Accessors.asm"/>
<listEntry value="/uml2cs-transformations/UML2ProfileCopy.asm"/>
</listAttribute>
</launchConfiguration>
