<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://ssel.vub.ac.be/uml2cs/Transformations" 
       class = "be.ac.vub.uml2cs.transformations.TransformationsPackage"
       genModel = "model/Transformations.genmodel" /> 
  </extension>

</plugin>

